* {
  font-size: 1rem;
  font-family: 'Frank Ruhl Libre', serif;
  overflow-x: hidden;
}

a {
  transition: ease-out;
  transition-duration: 2s;
  text-decoration: none;
}

footer {
  padding: 2% 0%;
  text-align: center;
  background-color: rgba(24, 23, 23, 0.879);
  color: white;
}

footer a {
  color: white;
  margin: 0 2rem;
  font-size: 2rem;
  line-height: 1;
}

footer p {
  padding-top: 3%;
}

h1, h2, h3, h4, h5{
  overflow: hidden;
}

table{
  display: block;
  text-align: center;
}

.about {
  background-color: white;
  padding: 7%;
  overflow: hidden;
  background: #6f8a87;
}

.about h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.album {
  position: relative;
  margin-top: -7.5rem;
  z-index: 1;
}

.card {
  margin: 1rem 1rem;
}

.contact {
  text-align: center;
  color: aliceblue;
  background-color: rgb(36, 35, 35);
  padding: 5%;
}

.contact h2 a{
  font-size: 2.3rem;
  color: #fff;
  text-decoration: none;
}

.contact h2 a:hover {
  color: rgb(117, 111, 105);
}

.contact h2 a:hover::after {
  border: rgb(117, 111, 105);
  background-color: rgb(117, 111, 105);
  border-bottom: none;
  width: 9rem;
  margin: 0 auto; 
}

.contact h2 a::after{
  content: "";
  display: block;
  width: 0px;
  margin-top: 4px;
  height: 0.08rem;
  background: rgb(153, 153, 153);
  transition: width 0.3s ease 0s;
  transform-origin: center;
}

.contact .form input, textarea {
  width: 45%;
  background-color: white;
  border: none;
  outline: none;
}

.contact button {
  padding: 10px 15%;
  border: solid 2px white;
  color: #Eaf6f6;
  display: flexbox;
  background-color: rgba(36, 35, 35, 0.886);
  margin-bottom: 2%;
}

.form {
  margin: 0 0 2px 0;
  padding: 0;
}

.intro {
  padding-top: 4rem;
  height: 40rem;
  background-color: #E4DCCF;
}

.intro-content {
  position: relative;
  top: 22%;
  left: 6%;
  text-align: left;
}

.nav-link{
  margin: 0 0 0 0;
}

.nav-link:hover{
  font-size: larger;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

.services {
  margin: 1.5% 8% 4%;
}

.services h1{
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  color: #ce6d6d;
}

.services h3 {
  display: flex;
  justify-content: flex-end;
}

.service-card {
  padding-top: 5%;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
    margin: 0 1%;
}
}

::placeholder{
  color: #043836;
}